:root {
    --sg-green: #4d8c22;
    --sg-bright-green: #61ae2c;
    --sg-orange: #ee7100;
    --sg-yellow: #ffe100;
    --sg-turquoise: #4dbbb0;
    --sg-brown: #473602;
    --sg-grey: #f2f2f2;
    --sg-dark-grey: #494948;
    --sg-white: #fff;
}
